html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3ede5;
  height: 100%;
}

.swiper {
  padding-left: 16px;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  max-width: 1441px;
  width: 100%;
}

.swiper-slide {
  width: 343px;
  margin-right: 8px;
}

.swiper-slide img {
  width: 343px;
  height: 428px;
  object-fit: cover;
  display: block;
}
.swiper-button-prev,
.swiper-button-next {
  opacity: 1;
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 8px;
  background-color: black;
  border-radius: 50%;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.swiper-button-prev {
  left: 0;
  margin-left: 18px;
}

.swiper-button-next {
  right: 0;
  margin-right: 40px;
}
.swiper-button-next {
  width: 16px;
  height: 16px;
  padding: 8px;
  background-color: black;
  border-radius: 50%;
  margin-top: 0;
}

@media only screen and (min-width: 1077px) {
  .swiper {
    margin: 24px 32px;
  }
  .swiper-slide {
    width: 468px;
    height: 593px;
  }
  .swiper-slide img {
    width: 468px;
    height: 585px;
    margin-right: 8px;
  }
}
@media only screen and (min-width: 1399px) {
  .swiper {
    padding: unset;
    margin: 96px 64px;
  }
  .swiper-button-prev {
    margin-left: 2px;
  }
  .swiper-button-next {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 1547px) {
  body {
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-btn {
  border-radius: 13px;
  padding: 5px 8px;
  font-size: medium;
  background-color: #ca0b00;
  color: white;
  border: none;
}
